body{
    background-color: orange;
}
p{
    background: linear-gradient(to left, blue, yellow, green);
    font-size: 50px;
    color: aqua;
}
ul, ol{
    font-size: 24px;
    color: purple;
}
ul.u1 li::marker{
    color: blue;
    font-size: 1.2em;
}
.u2 li{
    padding-left: 8px;
}
ol{
    margin-left: 100px;
}
@counter-style circled-digits {
    system: cyclic;
    symbols: 😀 👻 👽 👾 🤖 🎃 😹 👋 👀 💋;
    suffix: " ";
}
ul.u3{
    list-style: emojies;
}
@counter-style lower-ukrainian {
    system: alphabetic;
    symbols: '\430' '\431' '\432' '\433' '\434' '\435' '\454' '\436' '\437' '\438' '\456' '\43A' '\43B' '\43C' '\43D' '\43E' '\43F' '\440' '\441' '\442' '\443' '\444' '\445' '\446' '\447' '\448' '\44E' '\44F';
    /* symbols: 'а' 'б' 'в' 'г' 'д' 'е' 'є' 'ж' 'з' 'и' 'і' 'к' 'л' 'м' 'н' 'о' 'п' 'р' 'с' 'т' 'у' 'ф' 'х' 'ц' 'ч' 'ш' 'ю' 'я'; */
    suffix: ') ';
    }
    